@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden !important;
}
body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track-piece {
  background-color: #333;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(161, 130, 25);
  border-radius: 20%;
}

.gradient {
  /* @apply bg-[radial-gradient(at 40% 20%, hsla(34,90%,46%,1) 0px, transparent 50%)]; */
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  /* margin: 10px; gutter size offset */
  width: auto;
  flex-wrap: wrap;
  gap: 3;
}
.my-masonry-grid_column {
  /* padding-left: 30px; gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}

.parallax {
  overflow: hidden;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 1rem;
}

.pinterest-grid {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  column-gap: 0;
  padding: 0; */

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3;
}

.pinterest-grid-item {
  position: relative;
  /* width: 100%; */
  border-radius: 15px;
  overflow: hidden;
  background: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  break-inside: avoid;
}

@media (max-width: 800px) {
  .my-masonry-grid {
    margin-left: -15px; /* gutter size offset */
  }
  .my-masonry-grid_column {
    padding-left: 15px;
  }
  .my-masonry-grid_column > div {
    margin-bottom: 15px; /* space between items */
  }
}
